*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: rgb(104, 104, 243);
  padding: 2rem 0;
}

header, footer{
  text-align: center;
  color: white;
}

section{
  background: #fff;
  width: 500px;
  padding: 2rem;
  margin: 3rem auto;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
}